@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-button: #70919c;
  --text-color-primary: #70919c;
  --background-secundary-button: #70839C;
  --primary-color: #A54895;
  --secondary-color: #574595;
  --tertiary-color: #1b1029;
  --complementary-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 0%;
  }

  50% {
      background-position: 100% 100%;
  }

  100% {
      background-position: 0% 0%;
  }
}

.animated-gradient {
  background: linear-gradient(45deg, #574595, #A54895, #a8d4e6);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodytype {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.card {
  width: 45%;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 400ms ease;
  background-color: var(--secondary-color);
  color: black;
}

.card-type{
  width: 50%;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 400ms ease;
  background-color: var(--secondary-color);
  color: black;
}

.card-type:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  background-color: var(--primary-color);
}



.card:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  background-color: var(--primary-color);
}

.card figure:hover {
  background-color: var(--primary-color);
}

.card figure {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
}

.card .contenido {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}
.card .contenido .p {
  line-height: 1.5;
  color: #6a6a6a;
  font-size: 40px;
}
.card .contenido h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 45px;
}

.homepage {
  background: url('../public/assets/backgrounds/background_1.png') center/cover no-repeat;
}

.custom-shadow {
  @apply shadow-lg; /* Esto es opcional para agregar una sombra adicional similar */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}